<!-- HTML document structure -->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags for character set and viewport settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title of the web page -->
	<title>Image Processing - Documentatie</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	        crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<span class="fs-4">UVT Computer Vision AT</span>
		</a>
		
		<ul class="nav nav-pills">
			<li class="nav-item"><a href="/" class="nav-link" aria-current="page">Pagina principală</a></li>
			<li class="nav-item"><a href="/results" class="nav-link">Rezultate</a></li>
			<li class="nav-item"><a href="/docs" class="nav-link active">Documentație</a></li>
		</ul>
	</header>
</div>

<main>
	<div class="container">
		<div class="row g-5">
			<div class="col-md-9">
				<article class="blog-post">
					<h2 class="display-5 link-body-emphasis mb-1">Documentație proiect</h2>
					<p class="blog-post-meta">20 Ianuarie 2025 scris de <a href="#">Tudor</a></p>
					
					<p>Acest proiect este o platformă web pentru procesarea imaginilor, permițând utilizatorilor să
						încarce imagini și să aplice diverse tehnici de procesare, cum ar fi filtrarea, detectarea
						marginilor, conversia spațiului de culoare și transformările geometrice.</p>
					<hr>
					<h4>Tehnologii Utilizate</h4>
					<p>Proiectul este construit folosind următoarele tehnologii:</p>
					<ul>
						<li>Python</li>
						<li>Flask</li>
						<li>OpenCV</li>
						<li>PyTorch</li>
						<li>Bootstrap</li>
					</ul>
					<hr>
					<h4>Structura Proiectului</h4>
					<p>Proiectul constă din următoarele fișiere principale:</p>
					<h5>main.py</h5>
					<p>Acest fișier conține logica principală a aplicației, inclusiv rutele pentru gestionarea
						încărcărilor de imagini, procesarea și afișarea rezultatelor.</p>
					<h5>templates/index.html</h5>
					<p>Acest fișier conține structura HTML pentru pagina principală, unde utilizatorii pot încărca
						imagini și selecta opțiuni de procesare.</p>
					<h5>templates/results.html</h5>
					<p>Acest fișier conține structura HTML pentru afișarea imaginilor procesate și a rezultatelor.</p>
					<h5>templates/docs.html</h5>
					<p>Acest fișier conține structura HTML pentru pagina de documentație.</p>
					<hr>
					<h4>Tehnici de Procesare a Imaginilor</h4>
					<p>Platforma suportă următoarele tehnici de procesare a imaginilor:</p>
					<h5>Filtrare</h5>
					<p>Utilizatorii pot aplica filtre Gaussian și Median imaginilor încărcate.</p>
					<h5>Detectarea Marginilor</h5>
					<p>Utilizatorii pot aplica diverse algoritmi de detectare a marginilor, cum ar fi Canny, Sobel,
						Scharr, Roberts și LoG.</p>
					<h5>Conversia Spațiului de Culoare</h5>
					<p>Utilizatorii pot converti imaginile în diferite spații de culoare, inclusiv RGB, HSV, LAB și
						Grayscale.</p>
					<h5>Transformări Geometrice</h5>
					<p>Utilizatorii pot aplica transformări, cum ar fi rotația, scalarea și decuparea imaginilor
						încărcate.</p>
					<hr>
					<h4>Cum să Utilizați</h4>
					<p>Pentru a utiliza platforma, urmați acești pași:</p>
					<ol>
						<li>Navigați la pagina principală.</li>
						<li>Încărcați o imagine folosind formularul furnizat.</li>
						<li>Selectați opțiunile de procesare dorite.</li>
						<li>Faceți clic pe butonul "Încarcă" pentru a procesa imaginea.</li>
						<li>Vizualizați imaginile procesate și rezultatele pe pagina de rezultate.</li>
					</ol>
				</article>
			</div>
			
			<div class="col-md-3">
				<div class="position-sticky" style="top: 2rem;">
					<div class="p-4 mb-3 bg-body-tertiary rounded">
						<h4 class="fst-italic">About</h4>
						<p class="mb-0">Construiesc lumea zi de zi, ia parte la acesta actiune si tu. Aditudinea conteaza, fi parte di schimbare.</p>
					</div>
					
					<div class="p-4">
						<h4 class="fst-italic">Urmați-mă</h4>
						<ol class="list-unstyled">
							<li><a href="https://github.com/tudorandrian">GitHub</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="container my-5">
	<div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="mt-6 text-body-emphasis">Aplicații</h1>
		<p class="col-lg-6 mx-auto mb-4">Aplicațiile de procesare și analiză a imaginilor sunt vaste și diverse, variind de la imagistica medicală și vehicule autonome până la recunoașterea facială și automatizarea industrială. În imagistica medicală, de exemplu, tehnicile de procesare a imaginii îmbunătățesc vizibilitatea structurilor din corpul uman, ajutând la diagnosticarea precisă și planificarea tratamentului. În vehiculele autonome, analiza în timp real a imaginii este crucială pentru detectarea obstacolelor, recunoașterea semnelor de circulație și asigurarea unei navigații sigure.</p>
		<button class="btn btn-primary px-5 mb-5" type="button">Trimite un email</button>
	</div>
</div>

<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Pagina principală</a></li>
			<li class="nav-item"><a href="/results" class="nav-link px-2 text-body-secondary">Rezultate</a></li>
			<li class="nav-item"><a href="/docs" class="nav-link px-2 text-body-secondary">Documentație</a></li>
			<li class="nav-item"><a href="mailto:tudor.andrian00@e-uvt.ro" class="nav-link px-2 text-body-secondary">Contact</a>
			</li>
		</ul>
		<p class="text-center text-body-secondary">&copy; 2024 UVT Computer Vision AT</p>
	</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>
</html>